{% extends 'files_manager/base.html' %}

{% block title %}
    Feed
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h4>List of files:</h4>
    </div>
    <div class="files mt-5">
        <ul class="list-group list-group-numbered">
            {% if page.object_list %}
                {% for object in page.object_list %}
                    <li class="list-group-item">{{ object.file_hash }}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <a href="{{ object.get_absolute_url }}" class="btn btn-success" data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Show detailed information about this file">Show details</a>
                            <a href="{% url 'files_manager-successful_deletion' object.file_hash %}"
                               class="btn btn-danger"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Delete this file">Delete file</a>
                            <a href="{% url 'files_manager-successful_downloading' object.file_hash %}"
                               class="btn btn-info"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Download file">Download file</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="container mt-2">
                    <h5>The storage is empty!</h5>
                </div>
            {% endif %}
        </ul>
    </div>

    <nav aria-label="...">
        <ul class="pagination mt-5">
            <li class="page-item {% if not previous_url %} disabled {% endif %}">
                <a class="page-link" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            {% for n in page.paginator.page_range %}
                {% if page.number == n %}

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% elif n > page.number|add:-3 and n < page.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}
